* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

header {
  background: #fff;
}

.upper-strip {
  background-color: #000000d9;
}

.upper-strip a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

.upper-strip .strip-info {
  padding: 8px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.upper-strip .strip-info:nth-of-type(1) {
  padding-right: 10px;
}

.upper-strip .strip-info:nth-of-type(2) {
  padding-left: 10px;
  border-left: 1px solid #ffffff8c;
}

.upper-strip .strip-info span:nth-of-type(1) {
  color: rgba(255, 0, 0, 0.9);
}

.upper-strip .strip-info span:nth-of-type(2) {
  padding: 0 6px;
}

.social-media ul {
  padding: 0;
  margin: 0;
  text-align: right;
}

.social-media ul li {
  height: 40px;
  background-color: rgba(255, 0, 0, 0.7);
  width: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.social-media ul li i {
  color: #fff;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.social-media ul li:hover {
  background-color: white;
}

.social-media ul li:hover i {
  color: rgba(255, 0, 0, 0.7);
  -webkit-transform: rotatey(360deg);
          transform: rotatey(360deg);
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #000;
  text-decoration: none;
}

.navbar-brand span {
  color: red;
}

.navbar {
  padding: 0.5rem 0rem;
}

li.nav-item {
  font-size: 16px;
  margin: 0 0 0 2rem;
  text-transform: capitalize;
}

li.nav-item a {
  color: #000;
  font-weight: 500;
  position: relative;
}

li.nav-item a::first-letter {
  color: red;
}

li.nav-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

li.nav-item a:hover::before {
  width: 100%;
}

.logIn {
  margin: 0 0 0 1rem;
  padding: 0 0 0 1rem;
  border-left: 1px solid #000;
}

.logIn .login-Link {
  font-size: 16px;
}

.logIn .login-Link i {
  color: red;
  padding-right: 5px;
}

.logIn .login-Link a {
  color: #000;
  text-decoration: none;
}

.banner-section {
  background-image: url(../img/slider1.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.banner-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner-section .banner-text {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 50%;
}

.banner-section .banner-text h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: "Hammersmith One", sans-serif;
}

.banner-section .banner-text h1 span {
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  z-index: 1;
}

.banner-section .banner-text h1 span::after {
  content: "";
  background-color: rgba(255, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-animation: fillb 2s ease 2.5s;
          animation: fillb 2s ease 2.5s;
}

.banner-section .banner-text p {
  color: #fff;
  font-size: 20px;
}

.banner-section .banner-text .banner-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 31px;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.banner-section .banner-text .banner-btn::before {
  content: "";
  background-color: rgba(255, 0, 0, 0.7);
  position: absolute;
  width: 50%;
  left: -50%;
  height: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.banner-section .banner-text .banner-btn::after {
  content: "";
  background-color: rgba(255, 0, 0, 0.7);
  position: absolute;
  width: 50%;
  right: -50%;
  height: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.banner-section .banner-text .banner-btn:hover::before {
  left: 0;
}

.banner-section .banner-text .banner-btn:hover::after {
  right: 0;
}

.banner-section .banner-form {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 10%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.banner-section .banner-form .form {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 0;
}

.banner-section .banner-form .form .input-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 20px 0;
  position: relative;
}

.banner-section .banner-form .form .input-g i {
  position: absolute;
  left: 15px;
  color: rgba(255, 0, 0, 0.7);
}

.banner-section .banner-form .form .input-g input {
  height: 40px;
  width: 100%;
  border-radius: 15px;
  padding-left: 35px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.7);
}

.banner-section .banner-form .form .input-g input::-webkit-input-placeholder {
  color: #636363;
  padding-left: 10px;
}

.banner-section .banner-form .form .input-g input:-ms-input-placeholder {
  color: #636363;
  padding-left: 10px;
}

.banner-section .banner-form .form .input-g input::-ms-input-placeholder {
  color: #636363;
  padding-left: 10px;
}

.banner-section .banner-form .form .input-g input::placeholder {
  color: #636363;
  padding-left: 10px;
}

.banner-section .banner-form .form .input-g input:focus {
  outline: 0;
}

.banner-section .banner-form .form .input-g input:focus ~ i {
  left: 0;
}

.banner-section .banner-form .form form {
  padding: 10px 35px;
}

.banner-section .banner-form .form button {
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 800;
  background: transparent;
  border-radius: 30px;
  background-color: rgba(255, 0, 0, 0.7);
  color: #fff;
  border: 0;
  letter-spacing: 1px;
  text-align: center;
}

.banner-section .banner-form .form button i {
  font-size: 15px;
  padding-right: 8px;
}

.banner-section .banner-form .form button:focus {
  outline: 0;
}

.banner-section .banner-form .form-title {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
}

.banner-section .banner-form .form-title h4 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 55px;
  font-family: "Hammersmith One", sans-serif;
}

.banner-section .banner-form .form-title p {
  color: #fff;
}

.banner-section .banner-form:hover {
  -webkit-box-shadow: 1px 3px 7px 0px #9e9d9dd9;
          box-shadow: 1px 3px 7px 0px #9e9d9dd9;
}

@-webkit-keyframes fillb {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fillb {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.section-padding {
  padding-top: 90px;
}

.title-h {
  text-align: center;
  padding-bottom: 20px;
  line-height: 1;
}

.title-h h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.title-h p {
  font-size: 17px;
}

.item-slider {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.item-slider .category {
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slider .category.sale span {
  background: #00ba53;
}

.item-slider .category span {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 23px;
  padding: 0 10px;
  display: inline-block;
  border-radius: 2px;
  background: #e61562;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}

.item-slider .thumb {
  top: calc(50% - 23.5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  margin: 0;
  z-index: 222;
}

.item-slider .thumb:hover a i {
  color: rgba(255, 0, 0, 0.7);
}

.item-slider .thumb a {
  width: 47px;
  height: 47px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  margin: 0 3.5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.item-slider .thumb a i {
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-slider:hover .thumb a {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.uilist_bottom_panel {
  padding: 20px 20px 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#26262b), color-stop(90%, rgba(63, 68, 72, 0.25)), to(rgba(37, 39, 40, 0)));
  background: linear-gradient(0deg, #26262b, rgba(63, 68, 72, 0.25) 90%, rgba(37, 39, 40, 0));
  border-radius: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.uilist_bottom_panel .uilist_full_panel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uilist_bottom_panel .ullist_panel_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.uilist_bottom_panel .uilist_title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 2px;
}

.uilist_bottom_panel .uilist_title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 2px;
}

.uilist_bottom_panel .uilist_price_title {
  font-size: 16px;
  color: #fff;
  margin-bottom: 2px;
}

.uilist_bottom_panel .uilist-rating {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.uilist_bottom_panel .uilist-rating i {
  font-size: 13px;
  margin-right: 5px;
  color: #ffc107;
}

.uilist_bottom_panel .ullist_panel_left ul li {
  list-style: none;
  margin-right: 15px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
}

.uilist_bottom_panel .ullist_panel_left ul {
  margin-bottom: 0;
}

.owl-theme .owl-dots .owl-dot:focus {
  outline: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: rgba(255, 0, 0, 0.7);
}

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.area-section {
  width: 100%;
  height: 200px;
}

.img-box {
  height: 250px;
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 90;
  margin: 10px 0;
  border-radius: 6px;
}

.img-box:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background-color: #0c1017;
  opacity: 0.65;
  z-index: 99;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.utf-cat-img-box-content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  bottom: 30px;
  text-align: center;
}

.utf-cat-img-box-content h4 {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin: 0;
}

.utf-cat-img-box-content span {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 12px;
  line-height: 20px;
  margin-top: 8px;
  display: inline-block;
}

.img-box:hover:before {
  background-color: rgba(255, 0, 0, 0.7);
  opacity: 0.85;
}

a.img-box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.our-team {
  text-align: center;
  position: relative;
}

.our-team img {
  width: 100%;
  height: auto;
}

.our-team .team-content {
  width: 100%;
  height: auto;
  background: #323232;
  padding: 27px 0;
  border-left: 5px solid rgba(255, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 25px 0 rgba(3, 7, 15, 0.1);
          box-shadow: 0 15px 25px 0 rgba(3, 7, 15, 0.1);
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.our-team:hover .team-content {
  background: #fff;
}

.our-team .title {
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  margin: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.our-team:hover .title {
  color: rgba(255, 0, 0, 0.7);
  margin-bottom: 10px;
}

.our-team .post {
  display: block;
  font-size: 15px;
  font-style: italic;
  color: #323232;
  text-transform: capitalize;
  height: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.our-team:hover .post {
  height: 40px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.our-team .social {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 1;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.9);
  font-size: 17px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.our-team .social li a:hover {
  color: #ecdfbd;
  background: #5e3448;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 40px;
  }
}

#slider1 .owl-stage-outer {
  padding-bottom: 30px;
}

#team .owl-stage-outer {
  padding-bottom: 30px;
}

.section-bg {
  background: #f8f8f8;
}

.pb-50 {
  margin-top: 40px;
  padding-bottom: 70px;
}

.feat_property {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feat_property .thumb {
  background-color: #1d293e;
  border-radius: 8px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 10px 10px 0 10px;
  position: relative;
}

.for_blog.feat_property .thumb img {
  opacity: 1;
}

.feat_property .thumb img {
  opacity: 0.6;
}

.img-whp {
  width: 100% !important;
}

.feat_property .details {
  position: relative;
}

.feat_property .details .tc_content {
  padding: 20px;
}

.for_blog.feat_property .details .tc_content p {
  font-size: 14px;
  color: #484848;
  line-height: 1.714;
  margin-bottom: 0;
}

.text-thm {
  color: #ff5a5f !important;
}

.feat_property .details .tc_content h4 {
  font-size: 18px;
  color: #484848;
  font-weight: bold;
  line-height: 1.2;
}

.feat_property .details .fp_footer {
  border-top: 1px solid #eeeeee;
  display: inline-block;
  padding: 20px;
  position: relative;
  width: 100%;
}

.mb0 {
  margin-bottom: 0px !important;
}

.feat_property .details .fp_footer .fp_pdate {
  font-size: 14px;
  color: #777777;
  line-height: 1.2;
  margin-top: 12px;
}

.feat_property .details .fp_footer .fp_meta li {
  margin-right: 10px;
  vertical-align: middle;
}

.feat_property .details .fp_footer .fp_meta li a {
  font-size: 14px;
  color: #777777;
  line-height: 1.2;
}

[data-overlay="3"]:before {
  opacity: 0.3;
}

[data-overlay]:before {
  position: absolute;
  content: "";
  background: #112848;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.ht-50 {
  height: 50px;
}

.sec-heading.center {
  text-align: center;
}

.sec-heading.light h2,
.sec-heading.light p {
  color: #fff;
}

.btn.arrow-btn {
  font-size: 13px;
  line-height: 55px;
  position: relative;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #26262b;
  border-radius: 4px;
  padding: 0 20px;
}

.btn.arrow-btn.light {
  background-color: #fff;
  color: #122947;
}

.btn.arrow-btn span {
  margin-left: 40px;
}

.btn.arrow-btn {
  font-size: 13px;
  line-height: 55px;
  position: relative;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #26262b;
  border-radius: 4px;
  padding: 0 20px;
}

.image-cover {
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.image-cover .container {
  position: relative;
  z-index: 12;
}

.testimonial-wraps {
  width: 100%;
  padding: 2em;
  text-align: center;
  background: #fff;
  border: 1px solid #e9edf5;
  border-radius: 0.5rem;
  margin-bottom: 30px;
  margin-top: 40px;
}

.testimonial-wraps .testimonial-icon {
  margin-bottom: 1rem;
  margin-top: -70px;
}

.testimonial-wraps .testimonial-icon img {
  max-width: 80px;
  border-radius: 50%;
  display: table;
  margin: 0 auto 5px;
}

.testimonial-wraps .testimonial-icon h5 {
  margin-bottom: 1px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.testimonial-wraps .testimonial-icon .testi-rate i.filled {
  color: #ff9800;
}

.testimonial-wraps .testimonial-icon .testi-rate i {
  font-size: 11px;
  margin: 0 1px;
  color: #b9c5d6;
}

.testimonial-wraps .facts-detail p {
  font-size: 15px;
}

.partner-grid {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner-grid img {
  max-width: 120px;
  margin: 1rem auto 0;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.7;
}

.partner-grid:hover img,
.partner-grid:focus img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.call_action_wrap-wrap {
  padding: 50px 0;
}

.call_action_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call_action_wrap-head {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.call_action_wrap h3 {
  font-size: 40px;
  margin-bottom: 1rem;
  color: #fff;
}

.btn.btn-call_action_wrap {
  background: #fff;
  padding: 18px 40px;
  border-radius: 50px;
  color: #333640;
  font-weight: 600;
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.call_action_wrap-wrap {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}

footer.dark-footer {
  background: #252c41;
  color: #858b9f;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  font-size: 14px;
  padding-top: 0;
  padding-top: 0;
  position: relative;
}

.foot-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-news-first {
  padding-right: 2rem;
}

.dark-footer .foot-news-first h5 {
  color: #fff;
}

.dark-footer .input-group {
  background: #2c344c;
}

.dark-footer .top-footer input.form-control {
  color: #fff;
}

.footer_widget {
  padding: 0 0 30px;
}

footer.skin-dark-footer .extream,
footer.skin-light-footer .extream {
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  font-family: "Muli", sans-serif;
}

.theme-cl {
  color: red;
}

footer.skin-dark-footer h4 {
  color: #fff;
}

h4.widget_title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 17px;
}

.footer_widget ul {
  padding: 0;
  margin: 0;
}

.footer_widget ul li {
  list-style: none;
  margin-top: 15px;
  display: block;
}

.footer_widget ul li a {
  color: #858b9f;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
}

.footer_widget ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #858b9f;
  padding: 10px 0;
}

button:focus {
  outline: 0;
}

@media (max-width: 1200px) {
  .banner-section .banner-text h1 {
    font-size: 45px;
  }
  .banner-section .banner-form .form-title h4 {
    font-size: 46px;
  }
  .banner-section .banner-form .form-title p {
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .sec-heading h2 {
    font-size: 35px;
    line-height: 1.2;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .upper-strip .strip-info {
    font-size: 13px;
  }
  .upper-strip .strip-info span:nth-of-type(1) {
    color: white;
  }
  .navbar-toggler {
    font-size: 25px;
  }
  .banner-section .banner-text h1 {
    font-size: 31px;
  }
  .banner-section .banner-text p {
    font-size: 14px;
  }
  .banner-section .banner-form .form-title h4 {
    font-size: 34px;
  }
  .banner-section .banner-form .form-title p {
    font-size: 11px;
  }
  .banner-section .banner-form .form form {
    padding: 10px 15px;
  }
  .banner-section .banner-form .form .input-g {
    padding: 0px 0 10px 0;
  }
  .banner-section .banner-form .form .input-g input {
    height: 30px;
  }
  .banner-section .banner-form .form .input-g input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .banner-section .banner-form .form .input-g input:-ms-input-placeholder {
    font-size: 12px;
  }
  .banner-section .banner-form .form .input-g input::-ms-input-placeholder {
    font-size: 12px;
  }
  .banner-section .banner-form .form .input-g input::placeholder {
    font-size: 12px;
  }
  .banner-section .banner-form .form button {
    padding: 7px 17px;
    font-size: 10px;
  }
  .banner-section .banner-form .form button i {
    font-size: 11px;
  }
  .banner-section .banner-form .form .input-g i {
    font-size: 12px;
  }
  .banner-section .banner-text .banner-btn {
    font-size: 13px;
    padding: 7px 30px;
  }
  .banner-section {
    height: 380px;
  }
  .section-padding {
    padding-top: 60px;
  }
  .call_action_wrap h3 {
    font-size: 34px;
  }
  footer.skin-dark-footer .extream,
  footer.skin-light-footer .extream {
    font-size: 17px;
  }
}

@media (max-width: 575.98px) {
  .upper-strip {
    font-size: 10px;
  }
  .upper-strip .col-md-8 {
    text-align: center;
    padding: 0;
  }
  .social-media ul {
    display: none;
  }
  .banner-section .banner-text {
    display: none;
  }
  .banner-section .banner-form {
    width: 80%;
    right: 50%;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .banner-section .banner-form .form-title h4 {
    font-size: 36px;
  }
  .banner-section .banner-form .form-title p {
    font-size: 11px;
  }
  .banner-section .banner-form .form form {
    padding: 10px 15px;
  }
  .banner-section .banner-form .form .input-g input {
    height: 35px;
  }
  .banner-section .banner-form .form .input-g input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .banner-section .banner-form .form .input-g input:-ms-input-placeholder {
    font-size: 12px;
  }
  .banner-section .banner-form .form .input-g input::-ms-input-placeholder {
    font-size: 12px;
  }
  .banner-section .banner-form .form .input-g input::placeholder {
    font-size: 12px;
  }
  .banner-section .banner-form .form button {
    padding: 8px 26px;
    font-size: 11px;
  }
  .banner-section .banner-form .form .input-g {
    padding: 0px 0 15px 0;
  }
  .banner-section .banner-form .form .input-g i {
    font-size: 12px;
  }
  .banner-section .banner-form .form button i {
    font-size: 12px;
  }
  .section-padding {
    padding-top: 50px;
  }
  .title-h h2 {
    font-size: 23px;
  }
  .title-h p {
    font-size: 13px;
    padding-bottom: 0;
    margin: 0;
  }
  p {
    font-size: 14px;
  }
  .sec-heading.light h2 {
    font-size: 22px;
  }
  .call_action_wrap h3 {
    font-size: 27px;
  }
  .call_action_wrap-head {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .btn.btn-call_action_wrap {
    font-size: 12px;
    margin: 10px 0 0 0px;
    padding: 10px 29px;
  }
  footer.skin-dark-footer .extream {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.4;
    color: #fff;
    font-family: "Muli", sans-serif;
  }
  .footer_widget {
    padding: 0px 0 20px;
    text-align: center;
  }
  .footer-middle.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .logIn {
    padding: 10px 0 10px 1rem;
    border-left: 3px solid #000;
    background: rgba(255, 0, 0, 0.7);
    color: #fff;
  }
  .logIn .login-Link a {
    color: #fff;
  }
  .logIn .login-Link i {
    color: white;
  }
}

.loader {
  --size: 32px;
  --duration: 800ms;
  width: 96px;
  height: 64px;
  margin: 50px auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
          transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  position: relative;
}

.loader .box {
  width: 32px;
  height: 32px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.loader .box:nth-child(1) {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-animation: box1 800ms linear infinite;
          animation: box1 800ms linear infinite;
}

.loader .box:nth-child(2) {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-animation: box2 800ms linear infinite;
          animation: box2 800ms linear infinite;
}

.loader .box:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-animation: box3 800ms linear infinite;
          animation: box3 800ms linear infinite;
}

.loader .box:nth-child(4) {
  -webkit-transform: translate(200%, 0);
          transform: translate(200%, 0);
  -webkit-animation: box4 800ms linear infinite;
          animation: box4 800ms linear infinite;
}

.loader .box > div {
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  background: #c43939;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
          transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.loader .box > div:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .box > div:nth-child(2) {
  background: #eb3c3c;
  right: 0;
  --rotateY: 90deg;
}

.loader .box > div:nth-child(3) {
  background: #b41515;
  --rotateX: -90deg;
}

.loader .box > div:nth-child(4) {
  background: #dbe3f4;
  top: 0;
  left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%, 50% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%, 50% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%, 50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%, 50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
            transform: translate(200%, 100%);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
            transform: translate(200%, 100%);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

.loader-rapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
  z-index: 123;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */